.searchItem{
    display: flex;
    width: auto;
    margin: 24px  12px 0;
    align-items: center;
    flex:2;
    flex-wrap: wrap;
    @media (max-width: 768px){
        flex-direction: column;
    }
    :global(.ant-form-item){
        max-width:33.3333%;
        width:33.3333%;
        padding: 0 12px;
        height: 32px;
        @media (max-width:900px){
            width:50%;
            max-width:50%;
        }
        @media (max-width:768px){
            width:100%;
            max-width:100%;
        }
    }
    :global(.ant-form-item-label){
        min-width:auto;
        padding-right:8px;
    }
}

.search{
    display: flex;
    align-items: center;
    &-button{
        flex:1;
        margin-right: 8px;
    }
    &-open{
        width: 100%;
        margin-bottom: 24px;
        text-align: right;
    }
    &-open2{
        text-align: left;
        margin-bottom: 24px;
        padding-left: 12px;
    }
}